body{
  background-color:#B0E0E6;
}

button{
  padding: 10px 50px;
  background-color:#81C97F;
  border-radius:10px;
    display:block;
    margin:auto;
  }

button:hover{
  background-color:#4CB942;
}

button:active{
  padding: 9px 48px;
}


h1{
  font-size: 30px;
  text-align:center;
}

h2{
  font-style:italic;
  text-align:center;
}
